* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

.navigation-container {
  background-color: rgba(0,0,0,0);
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .nav-header {
    color: rgb(85, 131, 50);
    font-size: 3em;
  }
  .nav-number {
  }
}

.welcome-container {
  background-color: pink;
  background-image: url('../assets/img/grass.jpg');
  background-size: cover;
  height: 60vh;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  
  .welcome-info {
    background-color: rgba(146, 197, 107, 0.9);
    border-radius: 2px;
    height: 25vh;
    width: 55vh;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;

    .welcome-header {
    font-size: 2.5em;
    }
    .welcome-bio {
      font-family: 'Source Sans Pro', sans-serif;
    }
    h3 {
      font-size: 1.5em
    }
  }

  .welcome-form {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.we-container {
  background-color:rgba(0,0,0,0);
  height: 100%;

  .we-header {
    color: rgb(85, 131, 50);
    margin-top: 50px;
    font-size: 3em;

  }

  .we-one {
    background-color: rgba(0,0,0,0);
    height: 50vh;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
  }

  .we-two {
    background-color: rgb(246, 246, 246);
    height: 50vh;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
  }
}

.about-container {
  background-color: rgb(255, 255, 255);
  height: 60vh;
  display: grid;
  justify-content:center;
  align-content: center;
  align-items: center;

  .about-header {
    color: rgb(85, 131, 50);
    padding: 20px;
    margin-bottom: 50px;
    font-size: 3em;

  }
  
  .about-images {
    display: flex;
    justify-content: center;
    position: relative;

    h1,p {
      font-family: 'Source Sans Pro', sans-serif;
    }
    
    .image-one {
      background-image: url('../assets/img/grass2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 40vh;
      width: 600px;
      background-size: cover;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      font-size: 1.5rem;
      border-top-left-radius: 80px 80px;

    }
    .image-two {
      background-image: url('../assets/about/four.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 40vh;
      width: 600px;
      background-size: cover;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      font-size: 1.5rem;
      

    }
    .image-three {
      background-image: url('../assets/about/three.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 40vh;
      width: 600px;
      background-size: cover;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      font-size: 1.3rem;
      // overflow: hidden; 
      border-bottom-right-radius: 80px 80px;
    }
  }
}
.testimonials-container {
  background-color: rgb(246, 246, 246);
  height: 70vh;

  .test-header {
    color: rgb(85, 131, 50);
    padding-top: 50px;
    font-size: 3em;
  }

  .test-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 100px;

    .test-video {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-left: 10px;
    }

    .test-bio {
      font-size: 1.5em;
      display: grid;
      align-content: flex-start;
      padding: 10px;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
}

.contact-container {
  background-color: white;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .contact-header {
    color: rgb(85, 131, 50);
    padding-top: 50px;
    font-size: 3em;
  }

  h3,p {
    font-family: 'Source Sans Pro', sans-serif;
  }

  h3 {
    font-size: 2em;
    padding: 20px;
    color: rgb(21, 21, 21);
  }
  p {
    color: rgb(87, 87, 87);
    font-size: 1.5em;
  }
  
  .contact-number {
    color: rgb(79, 123, 47);
    padding: 10px;
  }
}

.footer-container {
  hr {
    opacity: 0.5;
  }
  background-color: rgb(246, 246, 246);
  height: 100%;

  .footer-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 50px;
    font-size: 1.1em;
    color: rgb(89, 89, 89);

    p {
      font-family: 'Source Sans Pro', sans-serif;
    }

    .footer-socials {
      ul {
        list-style-type: none;
        display: flex;
        padding-right: 100px;
        a {
          color: black;
          padding: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-color: white;
  }
  .navigation-container {
    display: grid;
    background-color: white;

  }

  .welcome-container {
    width: 100vw;
    height: 400px;
    display: grid;
    justify-content:center;
    align-content: center;
    align-items: center;
    background-color: white;

    .welcome-info {
      height: 200px;
      width: 100%;

      .welcome-header {
        font-size: 1.5em;
      }
      .welcome-bio {
        font-size: 1.3em;
      }
      .welcome-form {
        width: 200px;
        h2 {
          font-size: 1em;
        }
      }
    }
  }

  .we-container {
    display: grid;
    justify-content:center;
    align-content: center;
    align-items: center;
    background-color: white;
    

    .we-header {
      font-size: 1.5em;
    }
    .we-one,.we-two {
      background-color: white;
      width: 300px;
      height: 300px;
    }

    .we-two {
      margin-top: -100px;
      margin-bottom: 50px;
    }
  }

  .about-container {
    background-color: white;
    margin-bottom: 30px;
    .about-header {
      font-size: 1.5em;
    }
    .about-images {
      display: grid;
      justify-content:center;
      align-content: center;
      align-items: center;
      .image-one, .image-two, .image-three {
        height: 190px;
        width: 300px;
        display: grid;
      }
      h1 {
        font-size: 1em;
      }
      p {
        font-size: 0.9em;
        padding: 10px;
      }
    }
  }

  .testimonials-container {
    background-color: white;

    .test-header {
      padding-top: 100px;
      font-size: 1.5em;
    }

    .test-flex {
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 500px;
      .test-video {
        width: 300px;
        margin-left: 90px;
        margin-top: -200px;
        
      }
      .test-bio {
        padding-top: 100px;
        font-size: 1em;
        
        div {
          padding: 10px;
        }
      }
    }
  }

  .contact-container  {
    .contact-header {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
    p {
      font-size: 1em;
    }
  }

  .footer-container {
    .footer-flex {
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;

      p {
        padding: 20px;
      }

      .footer-socials {
        padding-left: 150px;
      }
    }
  }
}

// 400px
@media (max-width: 400px) {
  .navigation-container {
    height: 15vh;
    .nav-header {
      font-size: 1.5em;
    }
  }

  .welcome-container {
    width: 110%;
    height: 300px;
    margin-left: -15px;
    // margin-left: 30px;


    .welcome-info {
      display: grid;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 230px;

      .welcome-header {
        font-size: 1.2em;
      }
      .welcome-bio {
        font-size: 0.9em;
        padding: 10px;
      }
      .welcome-form {
        height: 30px;
        font-size: 0.9em;

        a {
          // font-size: 1em;
        }
      }
    }
  }

  .we-container {
    margin-left: 30px;
    // .we-header {
    //   // margin-left: 30px;
    // }
  }

  .about-container {
    margin-left: 30px;

    .about-header {
      // margin-left: 30px;

    }
    .about-images {
      // height: 100px;

      .image-one {
        height: 200px;
      }
    }
  }

  .testimonials-container {
    margin-left: 30px;
    
    .test-header {
      padding-top: 50px;
    }

    .test-flex {
      // height: 20vh;
      .test-video {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-right: 100px;
        .test-test {
          margin-right: 50px;
        }
      }
    }
  }
  
  .contact-container {
    margin-left: 30px;
    margin-bottom: 30px;

    .contact-header {
      margin-top: 50px;
      
    }
  }

  .footer-container {
    .footer-flex {
      background-color: white;
    }
  }

}